/* stylelint-disable unknownAtRules */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Use Poppins globally */
html, body {
  font-family: var(--font-poppins), sans-serif;
}

html,
body {
  overflow-x: hidden;
}
@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slideIn {
  animation: slideIn 0.3s ease-out forwards;
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-slideOut {
  animation: slideOut 0.3s ease-out forwards;
}

@keyframes pulseScaleColor {
  0%, 100% {
    transform: scale(1);
    color: white;
  }
  50% {
    transform: scale(1.2);
    color: black;
  }
}

.animate-pulseScaleColor {
  animation: pulseScaleColor 1.5s infinite ease-in-out;
}

/* GLOBAL MARQUEE ANIMATION */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 28s linear infinite;
}

/* FADE EFFECT ON LEFT + RIGHT */
.marquee-wrapper {
  position: relative;
}

.marquee-wrapper::before,
.marquee-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  width: 80px;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

