/* stylelint-disable unknownAtRules */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@glidejs/glide/dist/css/glide.core.min.css";

/* Use Poppins globally */
html, body {
  font-family: var(--font-poppins), sans-serif;
}

html,
body {
  overflow-x: hidden;
}
@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slideIn {
  animation: slideIn 0.3s ease-out forwards;
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-slideOut {
  animation: slideOut 0.3s ease-out forwards;
}

@keyframes pulseScaleColor {
  0%, 100% {
    transform: scale(1);
    color: white;
  }
  50% {
    transform: scale(1.2);
    color: black;
  }
}

.animate-pulseScaleColor {
  animation: pulseScaleColor 1.5s infinite ease-in-out;
}

/* GLOBAL MARQUEE ANIMATION */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 28s linear infinite;
}

/* FADE EFFECT ON LEFT + RIGHT */
.marquee-wrapper {
  position: relative;
}

.marquee-wrapper::before,
.marquee-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  width: 80px;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

@keyframes fadeDown {
  0% { opacity: 0; transform: translateY(-10px); }
  100% { opacity: 1; transform: translateY(0); }
}

.highlight-banner-text {
  background: black !important;
  color: white !important;
  padding: 2px 6px;
  border-radius: 10px;
  display: inline-block;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.prose img:nth-of-type(n+2) {
  width: 100% !important;
  height: 300px !important; /* Fixed height */
  object-fit: cover !important; /* Ensure the image covers the area */
  display: block !important;
  max-width: 100% !important;
}